@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

:root {
  --body-color: #efefef;
  --nav-color: #0866ff;
  --bg-color: #fff;
  --heads-color: #121212;
}

.dark-theme {
  --body-color: #121212;
  --nav-color: #212121;
  --bg-color: #121212;
  --heads-color: #fff;
}

body {
  background-color: var(--body-color);
  transition: background-color 0.3s;
}

nav {
  background-color: var(--nav-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 10px 5%;
}

nav #logo {
  width: 180px;
  margin: 5px 25px;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left ul {
  width: 200px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-left ul li img {
  width: 25px;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profilePic {
  width: 70px;
  margin: 10px 20px;
  border-radius: 50%;
  border: 3px solid #efefef;
  cursor: pointer;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #ffff;
  border-radius: 50%;
  background-color: #41db51;
  position: absolute;
  top: 15%;
  right: 20%;
}
.search-box {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #efefef;
  border-radius: 20px;
  padding: 0 5px;
}

#searchBox {
  outline: none;
  background-color: #efefef;
  border: none;
  padding: 15px;
  width: 70%;
}

/* settings starts */
.settings-menu {
  position: absolute;
  width: 90%;
  max-width: 450px;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  top: 99%;
  right: 6%;
  max-height: 0;
  transition: maxheight 0.3s;
}

.settings-menu-display {
    max-height: 500px;
}

.settings-menu-inner {
    padding: 20px;
    color: #626262;
}

.user-profile a {
  color: #1876f2;
  text-decoration: none;
}


.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.settings-menu hr {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: #9a9a9a;
  outline: none;
  border: none;
}

.settings-links {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 15px 0;
}

.settings-icons {
  width: 50px;
  height: 50px;
}

.settings-links a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  text-decoration: none;
  color: #626262;
  font-size: 18px;
  font-weight: 600;
}

.settings-links a img {
  width: 10px;
  margin-left: 30px;
}

#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background-color 0.5s; 
}

#dark-btn span{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;

}

#dark-btn.dark-btn-on{
    padding-left: 23px;
    background-color: #000;
}

/* settings ends */

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(255, 255, 255, 0.1)
  );
}

.header {
  width: 70%;
  height: 40vh;
  position: relative;
}

#coverPicCont {
  position: relative;
  height: 40vh;
}

#ChangeCoverPicBtn {
  position: absolute;
  right: 5%;
  bottom: 3%;
  padding: 10px 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

#coverPic {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#profilePicCont {
  position: absolute;
  left: 2%;
  bottom: -30%;
}

#profilePicCover {
  position: relative;
  border: 5px solid #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#imageContainer {
  position: absolute;
  bottom: 5%;
  left: 75%;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 5px 5px 0 5px;
  cursor: pointer;
}

#fileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#previewImage {
  max-width: 100%;
  max-height: 100%; /* Adjust the maximum height as needed */
  cursor: pointer;
}

#fullNameHtml {
  position: absolute;
  color: var(--heads-color);
  /* bottom: -22%;
  left: 28%; */
  bottom: -22%;
  left: 20%;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2em;
}

.profileViewCont {
  display: flex;
  justify-content: center;
  width: 75%;
  margin-top: 150px;
 
}

.profileData {
  width: 30%;
  margin: 15px;
  color: #626262;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

#editProfileBtn {
  width: 100%;
  font-size: 18px;
  padding: 5px 33%;
  background-color: rgba();
  background-color: rgba(98,98,98,0.4);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  
}

.profilePosts {
  color: #626262;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 60%;
  margin: 15px;
}

.profileData h3 {
  color: var(--heads-color);
  font-size: 26px;
  text-align: left;
  margin-bottom: 15px;
  margin-left: 25px;
  letter-spacing: 1.5px;
}
.profileData h4 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 25px;
}

.profileData p {
  line-height: 18px;
  font-size: 20px;
  margin: 25px 0;
}
