@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-width: 330px;
  min-height: 100vh;
  background: linear-gradient(135deg, #db7d6c, #4feee0);
  padding: 5%;
}

.todo-app {
  width: 100%;
  max-width: 600px;
  min-height: 90vh;
  background: #ffff;
  border-radius: 15px;
  margin: 10px auto 20px;
  padding: 40px 30px 70px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(0, 0, 0, 0.2);
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 40px;
  margin-left: 10px;
}

/* add box */

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 15px;
  margin-bottom: 10px;
}

#input-box {
  border: none;
  outline: none;
  height: auto;
  background: transparent;
  padding: 2% 4%;
  font-weight: 14px;
  width: 80%;
  white-space: initial;
}

#add-btn {
  padding: 3% 6%;
  border: none;
  outline: none;
  background: #ff9705;
  border-radius: 15px;
  color: #ffff;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

#add-btn:hover {
  background: #48f8c9;
}

/* list starts */

ul {
  width: 100%;
}

ul li {
  list-style: none;
  max-width: 100%;
  overflow-wrap: break-word;
  font-size: 14px;
  padding: 10px 20px 12px 35px;
  /* disable text to be selected */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin: 5px auto;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.04rem;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

ul li:before {
  content: "";
  position: absolute;
  left: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url(./assests/uncheck.png);
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease;
}

ul li.checked:before {
  background-image: url(./assests/checked.png);
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li span {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a5a5a5;
  text-align: center;
  align-items: center;
  font-size: 18px;
  color: white;
  line-height: 20px;
}

ul li span:hover {
  background: #7a7a7a;
}

/* ul li button{
  padding: 3px 7px;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: rgb(95, 224, 95);
} */


@media screen and (min-width: 746px) {
  .todo-app {
    width: 100%;
    max-width: 1200px;
    min-height: 10vh;
  }

  .todo-app h2 {
    margin-bottom: 30px;
    font-size: 45px;
  }

  .todo-app h2 img {
    width: 60px;
    margin-left: 20px;
  }

  #input-box::placeholder {
    font-size: 24px;
  }

  #input-box {
    font-size: 24px;
    letter-spacing: 0.07em;
  }

  #add-btn {
    font-size: 24px;
    font-weight: 800;
  }

  ul li {
    font-size: 24px;
    padding-left: 60px;
    margin: 25px 0px;
  } 

  ul li:before {
    top: 8px;
    right: -10px;
    width: 40px;
    height: 40px;
  }
  
  ul li span {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    font-size: 50px;
    padding-top: 8px;
  }
}
