@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');


*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #3a0b0b, #15183a);
  color: rgb(245, 241, 241);
  position: relative;
  font-family: 'Chakra Petch', sans-serif;
}

.container {
  width: 300px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2d2f41;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3), -5px -5px 25px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 70%;
  margin: 3px;
  background-color: #2d2f41;
  padding: 10px;
  font-weight: 800;
  gap: 8px;

  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

/* background glowing */
.clock:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right:-5px ;
    /* background: linear-gradient(45deg,#24ff6d,#2f93f1,#ff5e9a);
    background-size: 200% 200%;
    z-index: -5; */
    /* animation: animate 2s ease infinite; */
    /* filter: blur(); */

}

/* @keyframes animate {
    0%{
        background: linear-gradient(45deg,#ff5e9a,#24ff6d,#2f93f1,);
    }
    50%{
        background: linear-gradient(45deg,#2f93f1,#ff5e9a,#24ff6d);
    }
    100%{
        background: linear-gradient(45deg,#24ff6d,#2f93f1,#ff5e9a);
    }
    
} */

.clock span {
  font-size: 60px;
  display: inline-block;
  text-align: center;
  position: relative;
  gap: 5px;
}

#hr {
  background: -webkit-linear-gradient(90deg, #ff944d, #ffc75f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#min {
  background: -webkit-linear-gradient(90deg, #ff944d, #ffc75f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#sec {
  background: -webkit-linear-gradient(90deg, #4dffff, #17a8dd);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#period {
  visibility: visible;
  background: -webkit-linear-gradient(90deg, #f6ff4d, #f2ff5f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.clock span::after {
  font-size: 10px;
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 0.3em;
}

/* #hr::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';
} */
/* #sec::after{
    content: 'SECS';
    position: absolute;
    top: 30%;
    left: 100%;
} */

.right-panel {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
}

.right-panel span {
  font-size: 16px;
}

/* clock ends here */

.calender {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
  background: transparent;
  padding: 5px;
  color: rgb(246, 80, 80);
  border: none;
  outline: none;
}

.menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  color: white;
  cursor: pointer;
}

.menu-btn:hover {
  color: #5a5d65;
}

.menu {
  z-index: 99;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 6px 5px 20px rgba(9, 9, 9, 0.4);
  margin: 10px;
  visibility: hidden;
  transition: 0.2s ease;
}

/* visibility:hidden hides the elements without changing their layouts. opacity:0 causes the elements to be very transparent but users can still interact with them */

.menu.active {
  visibility: visible;
  /* opacity: 1; */
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-format-text {
  color: white;
  font-size: 14px;
  margin-right: 6px;
}

.switch-btn {
  width: 40px;
  height: 12px;
  background: #485470;
  border-radius: 75px;
  box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset -2px -2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-btn::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ff5e9a;
  border-radius: 50%;
  box-shadow: 5px 5px 25px #ff5e9a;
  transform: translateX(100%);
}

.switch-btn.active::before {
  background-color: #0bff8d;
  border-radius: 50%;
  box-shadow: 5px 5px 25px #0bff8d;
  transform: translateX(50%);
}


