@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P";
}

body {
  background-color: black;
}

.container {
  width: 1200px;
  height: 80vh;
  margin: 60px auto;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#pop {
  margin: 20px;
  background-color: white;
  color: black;
  padding: 20px 50px;

}

.animateOnChange {
  animation: myAnim2 1s ease 0s 1 normal forwards;
}



@keyframes myAnim2 {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.topBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.topBar p {
  margin: 10px;
  font-size: 16px;
  letter-spacing: 0.001em;
}

.title {
  text-align: center;
  margin: 45px 0;
}

#num {
  background-color: white;
  color: black;
  width: 200px;
  padding: 30px;
  font-size: 60px;
  text-align: center;
  position: relative;
}

.title {
  font-size: 36px;
}

.check-container {
  margin: 60px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#guessInput {
  width: 200px;
  background-color: black;
  color: white;
  padding: 20px 0px;
  border: 2px solid white;
  outline: none;
  font-size: 40px;
  text-align: center;
}

#checkBtn {
  padding: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  margin-top: 25px;
}

#checkBtn:hover {
  background-color: #505050;
  color: #ffff;
}

.display {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

#process {
  margin-bottom: 60px;
  width: 300px;
}

#result {
  margin-bottom: 20px;
}

/* #date{
  display: none;
  margin: auto;
  text-align: center;
}

#time{
  text-align: center;
  margin: 20px auto;
} */

@media screen and (max-width: 520px) {
  .container {
    width: 80%;
    min-width: 320px;
    height: 100vh;
    margin: 10px auto;
    text-align: center;
  }

  #pop {
    min-width: 120px;
    line-height: 16px;
    margin: 4px;
    padding: 2px 4px;
  }
  .topBar p {
    margin: 6px;
    font-size: 8px;
    letter-spacing: -0.1em;
  }

  #pop {
    font-size: 12px;
    width: 15%;
    padding: 10px 10px;
  }
  .title {
    font-size: 14px;
    margin: 20px 0;
    line-height: 40px;
  }

  #num {
    width: 70px;
    padding: 20px;
    font-size: 28px;
  }

  .check-container {
    margin: 80px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .checker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  #guessInput {
    width: 70px;
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid white;
    outline: none;
    font-size: 30px;
    text-align: center;
  }

  #guesInput::placeholder {
    font-size: 8px;
  }

  #checkBtn {
    font-size: 14px;
    width: 100px;
    padding: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 25px;
  }

  .display {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  #process {
    font-size: 12px;
    margin-bottom: 50px;
    width: 100px;
    line-height: 18px;
  }

  #result {
    margin-bottom: 10px;
  }

  #result,
  #highscore {
    font-size: 12px;
  }
}

@media screen and (min-width: 521px) and (max-width: 820px) {
  .container {
    width: 80%;
    min-width: 450px;
    height: 100vh;
    margin: 10px auto;
    text-align: center;
  }

  #pop {
    min-width: 80px;
    margin: 10px;
    padding: 2px 4px;
  }
  .topBar p {
    margin: 12px;
    font-size: 10px;
    letter-spacing: 0;
  }

  #pop {
    font-size: 12px;
    width: 15%;
    padding: 10px 10px;
  }
  .title {
    font-size: 14px;
    margin: 20px 0;
    line-height: 40px;
  }

  #num {
    width: 70px;
    padding: 20px;
    font-size: 28px;
  }

  .check-container {
    margin: 80px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .checker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  #guessInput {
    width: 70px;
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid white;
    outline: none;
    font-size: 30px;
    text-align: center;
  }

  #guesInput::placeholder {
    font-size: 8px;
  }

  #checkBtn {
    font-size: 14px;
    width: 100px;
    padding: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 25px;
  }

  .display {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  #process {
    font-size: 14px;
    margin-bottom: 50px;
    width: 100px;
  }

  #result {
    margin-bottom: 10px;
  }
}
