* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #b1282f, #6c3175);
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
}

.container {
  width: 75%;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  border: none;
  outline: none;
  text-align: center;
  background-color: transparent;
  color: rgb(51, 51, 51);
  position: relative;
}

#player1 {
  width: 50%;
  background-color: rgba(232, 210, 210, 0.77);
  height: 100%;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  box-shadow: 5px 3px 12px rgba(0, 0, 0, 0.6), -4px -2px 15px rgba(0, 0, 0, 0.2);
}

#player2 {
  width: 50%;
  background-color: rgba(210, 144, 144, 0.727);
  height: 100%;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 5px 3px 12px rgba(0, 0, 0, 0.6), -4px -2px 15px rgba(0, 0, 0, 0.2);
}

.playerName {
  margin-top: 75px;
  padding: 25px;
  font-size: 36px;
}

.score {
  color: #b1282f;
  font-size: 66px;
}

.current {
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  width: 160px;
  color: #fff;
  margin: 400px auto 100px;
}

.current h3 {
  font-weight: 500;
}

#cur1 {
  background-color: rgb(157, 46, 46);

}
#cur2 {
  background-color: rgb(190, 74, 74);
 
}

.curRoll {
  font-size: 28px;
  margin: 15px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80%;
  position: absolute;
  top: 100px;
  left: 50%;
  width: 200px;
  transform: translateX(-50%);
}

.buttons img {
  width: 40px;
}

#dice {
  width: 120px;
}

.game,
.dicCount,
.rollDiceCont,
.holdCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 25px;
  border-radius: 35px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(40, 40, 40, 0.5);
  cursor: pointer;
  transition: all 0.5s ease;
  gap: 8px;
}

.game:hover,
.rollDiceCont:hover,
.holdCont:hover {
  color: black;
  background-color: rgba(255, 255, 255, 1);
}

.rockNroll {
  animation: myAnim 0.3s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.popup {
  width: 40%;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 10px 30px 20px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  z-index: 1;
}

.open-popup {
  visibility: visible;
  top: 40%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h1 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup h4 {
  width: 80%;
  line-height: 25px;
  margin: auto;
  letter-spacing: 0.1em;
}

.ok {
  display: block;
  margin: auto;
  width: 40%;
  margin-top: 20px;
  padding: 10px 0px;
  background-color: #6fd649;
  border: none;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: #ffff;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4),
    -2px -2px 5px rgba(255, 255, 255, 0.2);
}

.ok:hover {
  background-color: white;
  color: #6fd649;
}

#popup2,
#popup3 {
  background-color: #6c3175d0;
  color: #fcfcfc;
}

.popup h2 {
  margin-top: 20px;
}

.popup input[type="text"] {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  font-size: 24px;
  margin: 20px auto 40px;
  color: rgb(156, 24, 24);
  font-weight: 600;
  letter-spacing: 0.01em;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 320px;
}

/* for medium screens */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 75%;
    margin: 55px auto;
    height: 80vh;
  }

  .game,
  .dicCount,
  .rollDiceCont,
  .holdCont {
    font-size: 14px;
    font-weight: 700;
    padding: 5px 15px; 
  }

  .buttons img {
    width: 25px;
  }

  .playerName {
    margin-top: 50px;
    padding: 10px;
    font-size: 28px;
  }

  .score{
    font-size: 56px;
  }

  .popup input[type="text"] {
    padding: 5px;
    font-size: 18px;
    width: 200px;
  }

  .current {
    padding: 16px 8px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    width: 120px;
    color: #fff;
    margin: 200px auto 100px;
  }
  
  .curRoll {
    font-size: 20px;
    margin: 15px 0;
  }
}

/* mobiles */
@media screen and (max-width: 767px) {

  .container {
    width: 90%;
    margin: 12px auto;
    height: 85vh;
  }

  .game,
  .dicCount,
  .rollDiceCont,
  .holdCont {
    font-size: 14px;
    font-weight: 700;
    padding: 5px 15px; 
  }

  .buttons img {
    width: 25px;
  }

  .playerName {
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
  }

  .score{
    font-size: 36px;
  }

  .popup{
    width: 70%;
  }

  .popup h2{
    font-size: 18px;
  }

  .popup input[type="text"] {
    padding: 6px;
    font-size: 14px;
    width: 190px;
  }

  .current {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px 25px;
    font-size: 12px;
    border-radius: 10px;
    width: 100px;
    margin: 320px auto 100px;
  }
  
  .curRoll {
    font-size: 24px;
    margin: 10px 0;
  }

  .buttons {
    height: 50%;
    position: absolute;
    top: 100px;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
  }

  .buttons img {
    width: 22px;
  }
  
  #dice {
    width: 80px;
  }
}
